html, body {
	height: 100%;
}

body{
	background: rgb(255);
	margin: 0;
  display: flex;

  align-items: center;
  /* This centers our sketch horizontally. */
  justify-content: center;
}
  /* This centers our sketch vertically. */
